{% extends 'partials/base.html' %} <br />
{% block title %} Home {% endblock %} <br />
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow"> <!-- shadow를 붙이면 그림자가생김 (utility class)-->
                <div class="card-header">Statistics</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>Total</h6>
                                    <p class="text-center">10</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>Completed</h6>
                                    <p class="text-center">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>Uncompleted</h6>
                                    <p class="text-center">5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">ToDo Form</div>
                <div class="card-body">
                    <form action="/add" method="POST">
                        <label for="">Title</label>
                        <input 
                            class="form-control"
                            type="text" 
                            name="title"
                            placeholder="Add todo..."
                        />
                        <input 
                            class="btn btn-primary mt-2 btn-sm" 
                            type="submit" 
                            value="Add"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for todo in todo_list %}
    <div class="border-start border-5 mt-3 shadow"> <!-- border쓰고 border-5 두께5, border-primary 파랑색 , mt-3 여백 3, shadow 그림자-->
                                                    <!-- border-start : 왼쪽에만 테두리생성-->
        <div class="card-body">
            <h5>{{ todo[0] }} | {{ todo[1] }} | {{ todo[2] }}</h5> <!-- 0 : id , 1 : title, 2 : complete-->
            <span class="badge bg-success">Complete</span>
            <a class="btn btn-info btn-sm" href="/update/{{ todo[0] }}">Update</a>
            <a class="btn btn-danger btn-sm" href="/delete/{{ todo[0] }}">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}